{
  "presets": [
    ["es2015", { "modules": false }],
    "react"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-export-extensions",
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-remove-console"
      ]
    },
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        "transform-export-extensions",
        "transform-class-properties",
        "transform-object-rest-spread"
      ]
    }
  }
}
